* {
  margin: 0;
  padding: 0;
}

nav {
  background: #c21318 url(./assets/logo.png) no-repeat;
  background-size: contain;
  background-position-x: 1em;
  height: 45px;
}

main {
  height: calc(100vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-size: 3em;
  /* background: #666; */
  /* color: #f5860f; */
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
}
